* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #45968E;
}

.navbar {
    background-color: #fff;
    height: 80px;
    padding: 0.5rem;

}

.navbar-brand {
    font-weight: 500;
    color: #45968E;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;

}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    font-size: 20px;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: black;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #45968E;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

#hero-carousel {
    margin: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    filter: brightness(0.6);
    object-fit: cover;
}

#hero-carousel, .btn {
    background-color: #2b4c55;
    border: #2b4c55;
}

/* .hero-section {
    background: url() no-repeat center;
    background-size: cover;
    width: 100%;
    height: 35vh;
} */

/* .hero-section::before {
    background-color: rgba(131, 171, 243, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.hero-section .container {
    margin-top: 150px;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: #fff;
    opacity: 0.9;
    flex-direction: column;
}

.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h4 {
    font-size: 1em;
    font-style: italic;
}

blockquote {
    padding: 40px;
    margin: 35px;
    color: rgb(216, 211, 211);
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-style: italic;
    background-color: #2b4c55;
}

.blockquote-footer {
    color: white;
}

.about-section {
    background-color: #45968E;
    color: white;
}

.about-section .about-container {
    z-index: 1;
    position: relative;
    padding: 20px;
    margin: 30px;
    display: flex;
}

#btnScrollToTop {
    position: fixed;
    font-size: 2.1em;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: none;
    color: #45968E;
    cursor: pointer;
}

#btnScrollToTop:hover {
    background:#45968E;
    color: white;
    transition: 0.5s;
}

.footer-container {
    width: 100%;
    padding: 20px 25px 10px;
    background-color:#2b4c55;
}

.social-media {
    display: flex;
    justify-content: center;

}

.social-media a {
    text-decoration: none;
    padding: 5px;
    background-color: #45968E;
    margin: 10px;
    border-radius: 50%;

}

.social-media a i {
    font-size: 40px;
    color: #fff;
    opacity: 0.9;
}

/* Hover effects on social media icons */
.social-media a:hover {
    background-color: #fff;
    transition: 0.5s;
}

.social-media a:hover i {
    color: #45968E;
    transition: 0.5s;
}

.footer-nav {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.footer-nav a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.2em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav a:hover {
    opacity: 1;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 30px;
    opacity: 0.7;
}